 html {
   font-size: 15px;
 }
h1 {
  font-family: Georgia, Times, ‘Times New Roman’, serif;
 }
 h2 {
   font-family: Trebuchet, Tahoma, Arial, sans-serif;
 }
 header {
   border-bottom: 1px solid black;
 }
ul.class-list {
  list-style-type: square;
}
.item {
 border: 1px solid black;
}
.item.even {
  background-color: grey;
}
.item.odd {
  background-color: black;
  color: white;
}
